<%- include('partials/header'); -%>



<div class="jumbotron jumbotron-fluid">
  <div class="container con1">

    <h3 >The temprature in <span class="display-4"> <%=cityNam%> </span>  is <span class="display-4" > <%=t%></span>  degree celcius.</h3>

    <p class="lead">The weather is currently  <span class="display-4"> <%=des%></span>.</p>

    <div class="imgBox"> 
    <img src="<%=url%>"  class="icon" />
    </div>
    
  </div>
</div>
	



<%- include('partials/footer'); -%>